@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <img src=~/Image/20190426172501.png />
        <span>saoyisao</span>
    </div>
</body>
</html>
